
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0 font-size-18">Team Hub</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Cybereum</a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->


            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title pb-4">Add Internal Participant</h4>

                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom01">User Name</label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="Enter User Name" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom02">Email</label>
                                    <input type="text" class="form-control" id="validationCustom02" placeholder="Enter Email" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <label for="validationCustomUsername">Role</label>
                                    <input type="text" class="form-control" id="validationCustom02" placeholder="Enter Role" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3 align-self-center">

                                    <a class='superBtn ml-2'>Add User</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h5>Add External Participants</h5>


            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">



                            <div class="form-group row">
                                <label for="example-text-input" class="col-md-12 col-form-label">Name</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" placeholder="Enter Participants Name" id="example-text-input" style="background-color: #0e2841 !important;
                                            border-color: #0e2841 !important;">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="example-text-input" class="col-md-12 col-form-label">Role</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" placeholder="Enter Participants Role" id="example-text-input" style="background-color: #0e2841 !important;
                                            border-color: #0e2841 !important;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="example-text-input" class="col-md-12 col-form-label">Company</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" placeholder="Enter Participants Company" id="example-text-input" style="background-color: #0e2841 !important;
                                            border-color: #0e2841 !important;">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-tel-input" class="col-md-12 col-form-label">Email</label>
                                <div class="col-md-12">
                                    <input class="form-control bg-white" type="tel" placeholder="Enter Participants Email" id="example-tel-input" style="background-color: #0e2841 !important;
                                            border-color: #0e2841 !important;">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>

            <div class="mt-1 ml-2 mb-4"> <a href="#" class='superBtn search-btn' style="padding: 13px !important;">Add Participants</a></div>
            <h5>Project Team</h5>
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">



                            <div class="form-group row">
                                <label for="example-text-input" class="col-md-12 col-form-label">Name</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" placeholder="Enter Participants Name" id="example-text-input" style="background-color: #0e2841 !important;
                                                border-color: #0e2841 !important;">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="example-text-input" class="col-md-12 col-form-label">Department</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" placeholder="Enter Participants Department" id="example-text-input" style="background-color: #0e2841 !important;
                                                border-color: #0e2841 !important;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="example-text-input" class="col-md-12 col-form-label">Role</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" placeholder="Enter Participants Company" id="example-text-input" style="background-color: #0e2841 !important;
                                                border-color: #0e2841 !important;">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-12 col-form-label">Member Focus</label>
                                <div class="col-md-12">
                                    <select class="form-control">
                                        <option>Role</option>
                                        <option>Department</option>
                                        <option>Details</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">



                            <div class="form-group row">
                                <label for="example-text-input" class="col-md-12 col-form-label">Supervisor</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" placeholder="Supervisor" id="example-text-input" style="background-color: #0e2841 !important;
                                                border-color: #0e2841 !important;">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="example-text-input" class="col-md-12 col-form-label">Contact Information</label>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" placeholder="Contact Information" id="example-text-input" style="background-color: #0e2841 !important;
                                                border-color: #0e2841 !important;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group pb-2 pt-2">
                                <label>Assigned Task</label>
                                <div>
                                    <textarea required class="form-control" rows="2" style="background-color: #0e2841 !important;
                                                border-color: #0e2841 !important;"></textarea>
                                </div>
                            </div>

                            <button type="button" class="btn btn-outline-primary btn-lg waves-effect waves-light mt-2 ml-2 mb-2" style="padding: 10px;
                                       ">
                                <i class="mdi mdi-playlist-check"></i> Add Project Member
                            </button>


                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>

            <!-- end row -->
            <div class="row">
                <div class="col-xl-6">
                    <div class="card" style="padding-bottom: 104px;">
                        <div class="card-body">
                            <h4 class="header-title mb-4">Project Team Member Allocation</h4>

                            <canvas id="myChart"></canvas>

                        </div>
                    </div>
                </div> <!-- end col -->

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title mb-4">Project Status By Department</h4>

                            <div id="column_chart" class="apex-charts" dir="ltr"></div>
                        </div>
                    </div><!--end card-->
                </div>
            </div>




            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title mb-4">Resource utilization with predictive analytics</h4>

                            <div id="line_chart_dashed" class="apex-charts" dir="ltr"></div>
                        </div>
                    </div><!--end card-->
                </div>

            </div>
            <!-- <div class="row">
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="header-title">Risk Matrix</h4>


                            <div id="scatter-diagram" class="ct-chart ct-golden-section" dir="ltr"></div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card" style="padding-bottom: 7px;">
                        <div class="card-body">


                            <div class="table-responsive">
                                <table class="table table-borderless mb-0">
                                    <thead>
                                        <tr>
                                            <th style="color: white;">Risk</th>
                                            <th style="color: white;">Probability</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Supply Chain Disruption</th>
                                            <td>Low</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Budget Overrun</th>
                                            <td>Medium</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Scope Creep</th>
                                            <td>Low</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Tchnical Failure</th>
                                            <td>High</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Regulatory Changes</th>
                                            <td>High</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Safety Incident</th>
                                            <td>Low</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                </div> -->
            <!-- end row -->
            <!-- <div class="row">
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="header-title" style="padding-bottom: 49px;">Milestone Distribution</h4>


                            <div id="overlapping-bars" class="ct-chart ct-golden-section" dir="ltr"></div>

                        </div>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="header-title">Path Distribution</h4>

                            <div id="morris-bar-example" class="morris-chart" dir="ltr"></div>

                        </div>
                    </div>
                </div>
            </div> -->
            <!-- end page title -->
            <!-- <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title pb-4">Add Internal Participant</h4>

                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom01">User Name</label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="Enter User Name" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom02">Email</label>
                                    <input type="text" class="form-control" id="validationCustom02" placeholder="Enter Email"  required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <label for="validationCustomUsername">Role</label>
                                    <input type="text" class="form-control" id="validationCustom02" placeholder="Enter Role" required="">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3 align-self-center">

                                        <a class='superBtn ml-2'>Add User</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0 font-size-18">Risk Matrix</h4>


                    </div>
                </div>
            </div>      -->
            <!-- <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="table-responsive">
                                <table class="table  table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th style="color: aliceblue;">Milestone Risk</th>
                                            <th style="color: aliceblue;">Probability</th>
                                            <th style="color: aliceblue;">Impact</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>Milestone 5</td>
                                            <td>0.8</td>
                                            <td>Low</td>

                                        </tr>
                                        <tr>

                                            <td>RMilestone 6</td>
                                            <td>0.5</td>
                                            <td>Medium</td>

                                        </tr>
                                        <tr>
                                            <td>Milestone 8</td>
                                            <td>0.2</td>
                                            <td>High</td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>


            </div> -->
            <div>

            </div>

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>

