<<<<<<< Updated upstream
﻿
@{
    ViewBag.Title = "UserVerification";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>Registration Complete</h2>
<div class="alert-success">
    <strong>
        Message:
    </strong>
    @ViewBag.Message
</div>
=======
﻿
@{
    ViewBag.Title = "UserVerification";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>Registration Verification</h2>
<div class="alert-success">
    <strong>
        Message:
    </strong>
    @ViewBag.Message
</div>
>>>>>>> Stashed changes
